<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            display: flex;
            justify-content: center;
        }

        form {
            border: 2px solid black;
            width: 31rem;
            height: calc(100vh - 1rem);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        img {
            width: 11rem;
            height: 11rem;
            border-radius: 24rem;
        }

        #profile-pic {
            position: absolute;
            top: 20.5rem;
            right: 37.2rem;
        }

        .details {
            position: relative;
            right: -5rem;
        }

        .inp {
            position: relative;
            left: 4rem;
            width: 12.7rem;
        }

        button {
            position: relative;
            right: -5.5rem;
            width: 21.3rem;
            height: 2.3rem;
            font-size: 1.2rem;
            font-weight: 900;
            background: cadetblue;
            border-radius: 2rem;
            box-shadow: 0.2rem 0.5rem;
        }
    </style>
</head>

<body>
    <form action="/profile/save" method="post" enctype="multipart/form-data">
        <legend style="text-align: center;">
            <h1>Edit Details</h1>
        </legend>
        <div style="display: flex;flex-direction: column; align-items: center;">
            <img id="default-profile-pic" src= <% if(user.profile){ %> "<%=user.profile%>" <% }else{ %> "/public/images/blank profile.jpg" <% } %> alt=" Profile Image" /><br>
            <input type="file" name="avatar" id="profile-pic">
        </div>
        <div class="details">
            <label for="name">Name &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: </label><input type="text"
                id="name" value="<%=user.name%>" name="name" class="inp">
        </div>
        <div class="details">
            <label for="gender">Gender &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: </label><span
                style="position: absolute; left: 10rem;"> Male <input type="radio" name="gender" id="gender"
                    value="male" required> Female
                <input type="radio" name="gender" value="Female" required></span>
        </div>
        <div class="details">
            <label for="date">Date of birth : </label><input type="date" id="date" class="inp" name="dob"
                value="<%=user.dob%>">
        </div>
        <div class="details">
            <label for="weight">Weight &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: </label><input type="number"
                id="weight" class="inp" name="weight" value="<%=user.weight%>" step="0.01">
        </div>
        <div class="details">
            <label for="height">Height &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: </label><input type="number"
                id="height" class="inp" name="height" value="<%=user.height%>" step="0.01">
        </div>
        <div>
            <button type="submit">Save details</button>
        </div>
    </form>
    <script>
        const gender = '<%=user.gender%>';
        const radioButtons = document.getElementsByName('gender');

        // this is for gender to be selected according to the db data
        if (gender === 'male') {
            radioButtons[0].checked = true;
        } else {
            radioButtons[1].checked = true;
        }

        const profilePic = document.getElementById('profile-pic');
        const defaultProfilePic = document.getElementById('default-profile-pic');

        // this change the profile pic as we select one
        profilePic.addEventListener('change', (e) => {
            const file = profilePic.files[0];
            const reader = new FileReader();
            reader.onload = (event) => {
                defaultProfilePic.src = event.target.result;
            };
            reader.readAsDataURL(file);
        });

    </script>
</body>

</html>